body {
    font-family: "Poppins", sans-serif !important;
    background: #20123a;
    overflow: hidden;
    overflow-y: auto;
}

p {
    font-size: 1.2em;
    line-height: 1.7;
}

a {
    color: #20123a;
}

small,
.small {
    font-size: 90%;
    line-height: 1.6;
}


/* Text  */

.fw-semi-bold {
    font-weight: 600;
}

.text-light-2 {
    color: rgba(255, 255, 255, 0.7);
}

.text-pink {
    color: #ec5ea0;
}

hr.white {
    height: 2px;
    background-color: rgba(255, 255, 255, 0.8);
}


/* Navbar */

.navbar.navbar-dark {
    background-color: transparent !important;
    padding-top: 13px;
    padding-bottom: 13px;
    transition: background-color 200ms linear;
    max-width: 100vw;
}

.navbar.navbar-dark .navbar-collapse {
    width: auto;
}

.navbar.navbar-dark a.link {
    font-size: 14px;
}

.navbar.navbar-dark a.link:hover {
    color: #f3a43e;
}

.navbar.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}

.navbar.scrolled a.scrolled-link {
    color: #000;
}

.navbar.navbar-dark .navbar-brand {
    padding-bottom: 0;
    padding-top: 0;
}

.navbar.navbar-dark .btn {
    font-size: 13px;
}

.navbar.navbar-dark ul.navbar-nav {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-top: 3px;
}

.navbar.navbar-dark ul.navbar-nav li {
    display: inline;
    margin-right: 25px;
}

.navbar.navbar-dark ul.navbar-nav li a {
    font-size: 14px;
    cursor: pointer;
}

.navbar.navbar-dark ul.navbar-nav li a.has-sub-menu::after {
    content: "\f2f9";
    font-family: "Material-Design-Iconic-Font";
    margin-left: 7px;
}

.navbar.navbar-dark ul.navbar-nav li a.active.has-sub-menu::after {
    content: "\f2fc";
    font-family: "Material-Design-Iconic-Font";
}

.navbar.navbar-dark ul.navbar-nav li:last-of-type {
    margin-right: 0;
}

.navbar-product-dropdown {
    position: fixed;
    top: 62px;
    width: 100vw;
    height: auto;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 100;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: none;
}

.navbar-product-dropdown.active {
    display: block;
}

.navbar-product-dropdown .features-list {
    padding-top: 40px;
    padding-bottom: 20px;
}

.navbar-product-dropdown .features-list li {
    list-style: none;
    margin-bottom: 20px;
    font-size: 14px;
}

.navbar-product-dropdown .features-list li.heading {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}

.navbar-product-dropdown .features-list li:before {
    font-family: "Material-Design-Iconic-Font";
    content: "\f26b";
    background-color: rgba(32, 18, 58, 0.9);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 2px 7px;
    color: #fff;
    float: left;
    margin-right: 10px;
}

.navbar-product-dropdown .features-list li.heading:before {
    display: none;
}


/* Buttons */

.btn {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn.btn-warning {
    color: #fff;
    background-color: #f3a43e;
}

.btn.btn-outline-light {
    border-color: rgba(255, 255, 255, 0.4);
    border-radius: 50px;
    padding: 10px 30px;
}


/* Modal */

.modal .modal-dialog .modal-header {
    border-bottom: 0;
}


/* Links */

a.link {
    text-decoration: none;
}


/* Card */

.card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.card.card-outline {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: transparent;
    border-radius: 20px;
}

.card.testimonials-card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card.integration-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card.subscribe-card {
    overflow: hidden;
    padding: 0;
}


/* Images */

.image-container {
    padding: 0;
    border-radius: 15px;
    position: relative;
}

.image-container .btn-action {
    position: absolute;
    top: calc(70% - 15px);
    left: calc(50% - 77px);
    background-color: rgba(32, 18, 58, 0.6);
    color: #fff;
    border-radius: 50px;
    padding: 10px 10px;
    transition-duration: 0.3s;
}

.image-container:hover .btn-action {
    background-color: #000;
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.3s;
}

.image-container img {
    width: 100%;
    height: 100%;
}

.image-container.blue-bg {
    background-color: #4cc9f0;
}

.image-container.yellow-bg {
    background-color: #ffd166;
}


/* subscribe input */

.subscribe-input {
    background-color: #fff;
    width: auto;
    padding: 5px 10px;
    border-radius: 5px;
    overflow: hidden;
    max-width: 400px;
}

.subscribe-input input {
    border: none;
    background-color: transparent;
    width: auto;
    min-width: 200px;
    outline: 0;
    width: 100%;
    font-size: 14px;
    max-width: 250px;
}


/* Sections */

#hero-product-demo {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    max-width: 800px;
    margin: 5em auto;
}

#hero-product-demo .image-container {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#hero-product-demo .btn-action i {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}

#hero-product-demo .btn-action span {
    margin-top: 2px;
    float: left;
}

#features .feature {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}

#features .feature .tick {
    background-color: rgba(255, 255, 255, 0.1);
    width: 35px;
    height: 35px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    padding: 9px;
    opacity: 0.6;
}

#features .feature .tick img {
    width: 100%;
    height: auto;
}

#testimonials .card {
    background-color: rgba(255, 255, 255, 0.1);
}

#testimonials .card img {
    border-radius: 50%;
}

#testimonials .card .meta {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#testimonials .card .meta .name {
    font-size: 1.1em;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 10px;
}

#testimonials .card .meta .designation {
    font-size: 0.9em;
    line-height: 1.3;
}


/* customers-grid */

#customers-grid {}


/* Social Links */

ul.social-links {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

ul.social-links li {
    margin-left: 8px;
    margin-right: 8px;
}

ul.social-links li:first-of-type {
    margin-left: 0;
}

ul.social-links li:last-of-type {
    margin-right: 0;
}

ul.social-links li a {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.3s;
}

ul.social-links li a:hover {
    background-color: #fff;
    transition-duration: 0.3s;
}

ul.social-links li a img {
    height: 20px;
    width: 20px;
}


/* Footer */

footer {
    background: url("../images/footer-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    /* padding-bottom: 120px !important; */
}

footer .copyright-text {
    color: #fff;
    font-size: 14px;
}

footer .copyright-text a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    transition-duration: 0.3s;
}

footer .copyright-text a:hover {
    color: rgba(255, 255, 255, 0.7);
    border-bottom-color: #fff;
    transition-duration: 0.3s;
}

@media only screen and (min-width: 900px) {
    .container {
        width: 90%;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 80%;
    }
}