@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	width: 100%;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	background-color: #222222;
	-webkit-tap-highlight-color: transparent;
	font-family: 'Poppins', sans-serif;
}

.grid-testimonials-container {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.grid-blog-container {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.grid-teams-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	grid-gap: 60px;
	align-items: center;
	justify-items: center;
}

.grid-small-blogs-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
	align-items: center;
	justify-items: center;
}

.blog-section-bg {
	background-image: url('/svgs/blogPageWave.svg');
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100%;
	// @media screen and (max-width: 600px) {
	// 	background-size: contain;
	// }
}
.about-us-section-bg {
	background-image: url('/svgs/aboutPageWave.svg');
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100%;
	// @media screen and (max-width: 600px) {
	// 	background-size: contain;
	// }
}
.media-section-bg {
	background-image: url('/svgs/mediaPageWave.svg');
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100%;
	// @media screen and (max-width: 600px) {
	// 	background-size: contain;
	// }
}
