@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './tailwind-reset.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
	@media screen and (max-width: 1279px) {
		font-size: 100%;
	}
	@media screen and (max-width: 1023px) {
		font-size: 98%;
	}
	@media screen and (max-width: 870px) {
		font-size: 92%;
	}
	@media screen and (max-width: 639px) {
		font-size: 85%;
	}
	@media screen and (max-width: 400px) {
		font-size: 82%;
	}
}

html,
body {
	width: 100%;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	// background-color: #222222;
	-webkit-tap-highlight-color: transparent;
	font-family: 'Poppins', sans-serif;
}

.grid-testimonials-container {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	@media screen and (max-width: 600px) {
		grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
	}
	@media screen and (max-width: 321px) {
		grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
	}
}

.grid-blog-container {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.grid-teams-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	grid-gap: 60px;
	align-items: center;
	justify-items: center;
}

.grid-small-blogs-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
	align-items: center;
	justify-items: center;
	@media screen and (max-width: 1150px) {
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	}
	@media screen and (max-width: 600px) {
		grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	}
}

.grid-feature-container {
	display: grid;
	grid-gap: 20px;
	// align-items: center;
	// justify-items: center;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	@media screen and (max-width: 600px) {
		grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	}
	@media screen and (max-width: 321px) {
		grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
	}
}

.blog-section-bg {
	background-image: url('/svgs/blogPageWave.svg');
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100%;
	// @media screen and (max-width: 600px) {
	// 	background-size: contain;
	// }
}
.about-us-section-bg {
	background-image: url('/svgs/aboutPageWave.svg');
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100%;
	// @media screen and (max-width: 600px) {
	// 	background-size: contain;
	// }
}
.media-section-bg {
	background-image: url('/svgs/mediaPageWave.svg');
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100%;
	// @media screen and (max-width: 600px) {
	// 	background-size: contain;
	// }
}
.products-section-bg {
	background-image: url('/svgs/productsPageWave.svg');
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100%;
	// @media screen and (max-width: 600px) {
	// 	background-size: contain;
	// }
}

.dhwani-cover-bg {
	// background-image: url('/svgs/dhwaniCover.svg');
	background-image: url('/svgs/dhwani-wave.svg');
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100%;
	@media screen and (max-width: 900px) {
		background-size: 170%;
	}
	@media screen and (max-width: 600px) {
		background-size: 200%;
	}
}

.contact-section-bg {
	background-image: url('/svgs/contactPageWave.svg');
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100%;
	// @media screen and (max-width: 600px) {
	// 	background-size: contain;
	// }
}

.ai-dialer-preview-gradient {
	background: conic-gradient(from -66.64deg at 50% 50%, #4361EE -22.99deg, #B5179E 91.94deg, #9943D3 200.2deg, #7B61FF 271.36deg, #5E61F6 305.09deg, #4361EE 337.01deg, #B5179E 451.94deg);
	height: 528px;
	max-width: 1200px;
	width: 100%;
}

.contact-cover-bg {
	background: conic-gradient(from 180deg at 50% 50%, #5E61F6 0deg, #1DA1F2 0.04deg, #3B15AB 33.07deg, #9943D3 297.44deg, #5E61F6 360deg);

	// @media screen and (max-width: 600px) {
	// 	background-size: contain;
	// }
}

.dhwani-page-bg  {
	background-image: url('/svgs/dhwaniPageWave.svg');
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100%;
	// @media screen and (max-width: 600px) {
	// 	background-size: contain;
	// }	
}

.newsletter-bg {
	background-image: url('/svgs/newsletterBg.svg');
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100%;
	@media screen and (max-width: 600px) {
		background-position: center;
		background-size: contain;
	}
	@media screen and (max-width: 321px) {
		background-position: top;
		background-size: 100%;	
	}
}

/* Chrome, Safari, Edge, Opera hide-input-type-no-arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.player-wrapper {
	position: relative;
	padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
  }
  
  .react-player {
	position: absolute;
	top: 0;
	left: 0;
  }

  .video-player {
	height: 60vh;
    width: 89vh;
  }
